<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bins.dao.BorrowDao">

    <select id="findAll" resultType="borrow">
        select * from v_borrow
        <if test="name!=null and name!=''">
            where userName like concat('%',#{name},'%')
        </if>
        limit #{start},5
    </select>

    <select id="getCount" resultType="int">
        select count(*) from v_borrow
        <if test="name!=null and name!=''">
            where userName like concat('%',#{name},'%')
        </if>
    </select>

    <insert id="borrowBook">
        insert into t_borrow(userId,bookId,time) values(#{userId},#{bookId},now())
    </insert>

    <delete id="returnBook">
        delete from t_borrow where userId=#{userId} and bookId=#{bookId}
    </delete>

</mapper>